@use '../../../variables' as *;
.container {
    padding: 50px 30px;
    position: relative;
    h2 {
        color: $orange;
        &:after {
            content: '';
            display: block;
            margin-top: 10px;
            height: 3px;
            background-color: $orange;
            width: 40px;
        }
    }
    .card-immobilier {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        min-height: 450px;
        margin-bottom: 25px;
        .titre_offre {
            text-transform: uppercase;
            font-weight: $fontStyleBlack;
            font-size: 25px;
        }
        .surface {
            font-weight: $fontStyleBlack;
            font-size: 20px;
        }
        .ville {
            text-transform: uppercase;
            font-weight: $fontStyleLight;
        }
        &:hover {
            transform: translateY(-8px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
        }
        .img-container {
            height: 180px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .container {
        padding: 80px 50px 100px;
        h2 {
            font-size: 35px;
            &:after {
                width: 60px;
            }
        }
    }
}
@media screen and (min-width: 1080px) {
    .container {
        padding: 100px 60px 160px;
        h2 {
            font-size: 60px;
            &:after {
                height: 5px;
                width: 105px;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1200px;
        padding: 100px 60px 220px;
    }
}