@use '../../../variables' as *;
.header {
    margin-top: 10%;
    height: 60vh;
    h2 {
        font-size: 55px;
    }
}
.custom-input {
    background-image: url('../../../../public/images/PLUS.png'); 
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    height: 100%;
}

.checkbox-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1;
    min-width: 0;

    input[type="checkbox"] {
        display: none;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 12px 16px;
        background-color: $orange;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 16px;
        transition: all 0.3s ease;
        border: 2px solid $orange;
    }

    input[type="checkbox"]:checked + span {
        opacity: 1;
        transform: scale(1.05);
    }
    
    input[type="checkbox"]:not(:checked) + span {
        opacity: 0.7;
        background-color: $orange;
        border-color: $orange;
    }
}


button {
    font-size: 16px;
    background-color: $orange;
    color: white;
    padding: 12px 28px;
}

select {
    font-size: 18px;
}

.type_bien {
    width: 40%;
}

.bouton button {
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 992px) {

    .header {
        margin-top: 8%;
    }

    .bouton button img {
        height: 14px;
        width: auto;
    }
    .header-bg {
        background-size: cover;
    }



}


@media (max-width: 768px) {
    .header-bg {
        background-size: cover;
    }


    .header {
        margin-top: 5%;
        height: auto;
        padding-bottom: 40px;
    }

    h2 {
        font-size: 28px;
    }

    button {
        font-size: 14px;
 
    }
    select {
        font-size: 14px;
    }

    .bouton button {
        font-size: 14px;
    }

    .bouton button img {
        height: 12px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 22px;
    }

    button {
        font-size: 12px;
    }

    select {
        font-size: 12px;
    }

    .bouton button {
        font-size: 12px;
    }

    .bouton button img {
        height: 10px;
    }
}
